<div class="card-body">
  <table class="table table-striped table-responsive-xl">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Applied Date</th>
        <th scope="col">Comapny Name</th>
        <th scope="col">Position</th>
        <th scope="col">Resume Link</th>
        <th scope="col">Referral</th>
        <th scope="col">No of Rounds cleared</th>
        <th scope="col">Result</th>
        <th scope="col">Feedback</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of records">
        <td scope="col">{{item.id}}</td>
        <td scope="col">{{item.date}}</td>
        <td scope="col">{{item.company}}</td>
        <td scope="col">{{item.jd}}</td>
        <td scope="col">{{item.resume}}</td>
        <td scope="col">{{item.apply}}</td>
        <td scope="col">{{item.rounds}}</td>
        <td scope="col">{{item.result}}</td>
        <td scope="col">{{item.feedback}}</td>
        <td scope="col"><a routerLink="/update/{{item.id}}"><Button class="btn btn-outline-primary btn-sm"> update</Button></a> </td>
        <td scope="col" (click)="delete(item.id)"><Button class="btn btn-outline-danger btn-sm"> Delete</Button></td>
      </tr>
    </tbody>
  </table>
</div>